*.mp4
*.bin
test*.png

**/tmp
**/venv
/tmp
*_out.txt
**/__pycache__
**/.ipynb_checkpoints
HELP.md

### IntelliJ IDEA ###
**/.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

*.aux
*.log
*.fdb_latexmk
*.fls
*.out
*.synctex.gz